@model IList<FastFood.Core.ViewModels.Categories.CategoryAllViewModel>

@{
    ViewData["Title"] = "All Categories";
}
<h1 class="text-center">All Categories</h1>
<hr class="hr-2" />
<table class="table mx-auto">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-2">Category</th>
        </tr>
    </thead>
    <tbody>
        @for(var i = 0; i < Model.Count(); i++)
    {
        <tr class="row">
            <th class="col-md-1">@i</th>
            <td class="col-md-2">@Model[i].Name</td>
        </tr>
    }
    </tbody>
</table>